/*
	==================================
	============= GLOBAL =============
	==================================
*/
.waymark-icon {
  background-image: url('../img/waymark-icon-primary.png');
  background-size: 20px 20px;
  background-position: left center;
  background-repeat: no-repeat;
}
.waymark-icon.waymark-icon-dark {
  background-image: url('../../img/waymark-icon-dark.png');
}
.waymark-icon.waymark-icon-blue {
  background-image: url('../../img/waymark-icon-blue.png');
}
.waymark-icon.waymark-icon-light {
  background-image: url('../../img/waymark-icon-light.png');
}
.waymark-icon.waymark-icon-white {
  background-image: url('../../img/waymark-icon-white.png');
}
.waymark-swatch.waymark-swatch-white {
  background-color: #fbfbfb;
}
.waymark-swatch.waymark-swatch-black {
  background-color: #303030;
}
.waymark-swatch.waymark-swatch-red {
  background-color: #d63e2a;
}
.waymark-swatch.waymark-swatch-darkred {
  background-color: #a23336;
}
.waymark-swatch.waymark-swatch-orange {
  background-color: #f69730;
}
.waymark-swatch.waymark-swatch-green {
  background-color: #72b026;
}
.waymark-swatch.waymark-swatch-darkgreen {
  background-color: #728224;
}
.waymark-swatch.waymark-swatch-blue {
  background-color: #38aadd;
}
.waymark-swatch.waymark-swatch-purple {
  background-color: #d252b9;
}
.waymark-swatch.waymark-swatch-darkpurple {
  background-color: #5b396b;
}
.waymark-swatch.waymark-swatch-cadetblue {
  background-color: #436978;
}
/*
	==================================
	============== MAP ===============
	==================================
*/
.waymark-map-container {
  /* Gallery */
  /* Controls */
}
.waymark-map-container .waymark-gallery-container {
  display: none;
}
.waymark-map-container.waymark-has-gallery .leaflet-bottom {
  bottom: 80px;
}
.waymark-map-container.waymark-has-gallery .waymark-gallery-container {
  display: block;
}
.waymark-map-container .leaflet-control {
  /* Layers */
  /* Attribution Links*/
}
.waymark-map-container .leaflet-control.leaflet-control-layers .leaflet-control-layers-list {
  min-width: 160px;
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
}
.waymark-map-container .leaflet-control.leaflet-control-layers .leaflet-control-layers-list label {
  font-size: 13px;
}
.waymark-map-container .leaflet-control.leaflet-control-layers .leaflet-control-layers-list label .waymark-type-text {
  margin-left: 10px;
}
.waymark-map-container .leaflet-control.leaflet-control-attribution a {
  font-size: 11px;
  border-bottom: none;
}
.waymark-map-container .leaflet-control.leaflet-control-zoom a {
  text-decoration: none;
}
.waymark-map-container .leaflet-control.leaflet-control-locate {
  text-align: center;
  background-color: #fff;
  cursor: pointer;
}
.waymark-map-container .leaflet-control.leaflet-control-locate.active.following a {
  color: #b42714 !important;
}
.waymark-map-container .leaflet-control.leaflet-control-locate span {
  margin-top: 6px;
  font-size: 18px;
}
.waymark-map-container .leaflet-control.leaflet-control-geocoder ul.leaflet-control-geocoder-alternatives li a br {
  display: none;
}
.waymark-map-container .waymark-type-text {
  padding: 3px 5px;
  border-radius: 3px;
}
.waymark-map-container .waymark-type-text.waymark-marker-type.waymark-swatch-white {
  box-shadow: inset 0 0 0 1px #ddd;
}
.waymark-map-container .waymark-type-text.waymark-line-type,
.waymark-map-container .waymark-type-text.waymark-shape-type {
  color: #fff;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 0 1px #ddd;
}
/*
	==================================
	============= MARKERS ============
	==================================
*/
.waymark-marker {
  display: table !important;
  margin: 0 auto;
  text-align: center;
  /* ============= MARKER TYPES ============= */
  /* ============= ICON TYPES ============= */
}
.waymark-marker .waymark-marker-background {
  width: inherit;
  height: inherit;
  max-width: inherit;
  max-height: inherit;
  position: absolute;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
}
.waymark-marker.waymark-marker-circle .waymark-marker-background {
  border-radius: 50%;
}
.waymark-marker.waymark-marker-marker .waymark-marker-background {
  transform: rotate(-45deg);
  border-radius: 50% 50% 50% 0;
}
.waymark-marker.waymark-marker-small .waymark-icon-icon::before {
  font-size: 10px;
}
.waymark-marker.waymark-marker-small .waymark-icon-text {
  font-size: 8px;
}
.waymark-marker.waymark-marker-medium .waymark-icon-icon::before {
  font-size: 13px;
}
.waymark-marker.waymark-marker-medium .waymark-icon-text {
  font-size: 11px;
}
.waymark-marker.waymark-marker-large .waymark-icon-icon::before {
  font-size: 20px;
}
.waymark-marker.waymark-marker-large .waymark-icon-text {
  font-size: 14px;
}
.waymark-marker .waymark-marker-icon {
  width: inherit;
  height: inherit;
  max-width: inherit;
  max-height: inherit;
  position: relative;
  display: table-cell !important;
  vertical-align: middle;
  padding: 0;
  text-align: center;
}
.waymark-marker .waymark-marker-icon::before {
  display: unset;
  width: inherit;
  height: inherit;
  max-width: inherit;
  max-height: inherit;
  vertical-align: middle;
  margin-left: 1px;
  line-height: 0;
}
.waymark-marker .waymark-marker-icon.waymark-icon-icon {
  line-height: 0;
}
.waymark-marker .waymark-marker-icon.waymark-icon-text {
  font-weight: bold;
  font-family: monaco, Consolas, Lucida Console, monospace;
}
/*
	==================================
	============ GALLERY =============
	==================================
*/
.waymark-gallery-container {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 60px;
  max-height: 60px;
  padding: 10px;
  z-index: 1000;
  background: rgba(255, 255, 255, 0.7);
  overflow-y: scroll;
  width: 100%;
  box-sizing: content-box;
}
.waymark-gallery-container .waymark-control-label,
.waymark-gallery-container .waymark-controls {
  display: none;
}
.waymark-gallery-container .waymark-image {
  float: left;
  width: 60px;
  max-width: 60px;
  height: 60px;
  max-height: 60px;
  overflow: hidden;
  margin: 0 7px 7px 0;
  cursor: pointer;
}
.waymark-gallery-container .waymark-image img {
  width: inherit;
  height: inherit;
}
/*
	==================================
	=========== ELEVATION ============
	==================================
*/
div.waymark-container .waymark-map .circle-lower {
  fill: white;
}
div.waymark-container .waymark-map .elevation-polyline {
  stroke: #b42714;
  stroke-opacity: 0.85;
}
div.waymark-container .waymark-elevation .elevation-control.elevation * {
  max-width: 100%;
}
div.waymark-container .waymark-elevation .elevation-control.elevation .elevation-summary {
  margin-left: 10px;
}
div.waymark-container .waymark-elevation .elevation-control.elevation .legend-altitude {
  display: none;
}
div.waymark-container .waymark-elevation .elevation-control.elevation .area {
  fill: #b42714;
  stroke: hsla(0, 0%, 0%, 0.85);
  stroke-width: 2.8;
}
div.waymark-container .waymark-elevation .waymark-elevation-close {
  position: absolute;
  top: 5px;
  right: 14px;
  padding: 5px 10px;
  font-weight: bold;
  font-size: 14px;
  background: #f1f1f1;
  cursor: pointer;
  color: #333;
}
