@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*
	==================================
	============= EDITOR =============
	==================================
*/
.waymark-map-container #waymark-loading {
  display: none;
}
.waymark-map-container.waymark-is-editor .leaflet-popup-content {
  margin: 10px !important;
}
.waymark-map-container.waymark-is-editor a.leaflet-popup-close-button {
  display: none;
}
.waymark-map-container.waymark-is-editor.waymark-loading {
  opacity: 0.6 !important;
  cursor: wait;
}
.waymark-map-container.waymark-is-editor.waymark-loading * {
  cursor: wait;
}
.waymark-map-container.waymark-is-editor.waymark-loading #waymark-loading {
  display: block;
}
.waymark-map-container.waymark-is-editor #waymark-loading {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 400;
}
.waymark-map-container.waymark-is-editor #waymark-loading .waymark-spinner {
  position: absolute;
  top: 50%;
  margin: -50px auto 0 auto;
  position: relative;
  border: 8px solid transparent;
  border-radius: 50%;
  border-top: 8px solid #b42714;
  border-bottom: 8px solid #b42714;
  width: 100px;
  height: 100px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
.waymark-map-container.waymark-is-editor div.waymark-edit-toolbar * {
  box-sizing: unset;
}
.waymark-map-container.waymark-is-editor div.waymark-edit-toolbar a.waymark-edit-button {
  padding: 5px;
  color: #b42714;
}
.waymark-map-container.waymark-is-editor div.waymark-edit-toolbar a.waymark-edit-button.waymark-edit-line.waymark-icon {
  background-size: 20px 20px;
  background-image: url("../images/waymark-icon-red.png");
}
.waymark-map-container.waymark-is-editor div.waymark-edit-toolbar a.waymark-edit-button.waymark-edit-marker i {
  margin-top: 3px;
  font-size: 24px;
}
.waymark-map-container.waymark-is-editor div.waymark-edit-toolbar a.waymark-edit-button.waymark-edit-polygon i {
  font-size: 19px;
  transform: skew(-36deg, 20deg);
  margin-top: 5px;
}
.waymark-map-container.waymark-is-editor div.waymark-edit-toolbar a.waymark-edit-button.waymark-edit-rectangle i {
  margin-top: 6px;
  font-size: 18px;
}
.waymark-map-container.waymark-is-editor div.waymark-edit-toolbar a.waymark-edit-button.waymark-edit-circle i {
  margin-top: 5px;
  font-size: 20px;
}
.waymark-map-container.waymark-is-editor div.waymark-edit-toolbar a.waymark-edit-button.waymark-edit-image i {
  margin-top: 6px;
  font-size: 18px;
}
.waymark-map-container.waymark-is-editor div.waymark-edit-toolbar a.waymark-edit-button.waymark-edit-upload {
  position: relative;
}
.waymark-map-container.waymark-is-editor div.waymark-edit-toolbar a.waymark-edit-button.waymark-edit-upload i.ion-document {
  margin-top: 4px;
  font-size: 22px;
}
.waymark-map-container.waymark-is-editor div.waymark-edit-toolbar a.waymark-edit-button.waymark-edit-upload i.ion-arrow-up-c {
  position: absolute;
  top: 40%;
  left: 40%;
}
.waymark-map-container.waymark-is-editor ul.waymark-info {
  height: 315px;
  position: relative;
  list-style-type: none;
  padding-left: 70px;
  z-index: 1;
}
.waymark-map-container.waymark-is-editor ul.waymark-info li {
  margin-bottom: 5px;
}
.waymark-map-container.waymark-is-editor ul.waymark-info li.waymark-info-description,
.waymark-map-container.waymark-is-editor ul.waymark-info li.waymark-info-title,
.waymark-map-container.waymark-is-editor ul.waymark-info li.waymark-info-type {
  width: 100%;
  max-width: inherit;
  border-radius: 4px;
}
.waymark-map-container.waymark-is-editor ul.waymark-info li.waymark-info-description input,
.waymark-map-container.waymark-is-editor ul.waymark-info li.waymark-info-title input,
.waymark-map-container.waymark-is-editor ul.waymark-info li.waymark-info-type input,
.waymark-map-container.waymark-is-editor ul.waymark-info li.waymark-info-description textarea,
.waymark-map-container.waymark-is-editor ul.waymark-info li.waymark-info-title textarea,
.waymark-map-container.waymark-is-editor ul.waymark-info li.waymark-info-type textarea,
.waymark-map-container.waymark-is-editor ul.waymark-info li.waymark-info-description select,
.waymark-map-container.waymark-is-editor ul.waymark-info li.waymark-info-title select,
.waymark-map-container.waymark-is-editor ul.waymark-info li.waymark-info-type select {
  width: inherit !important;
  max-width: inherit !important;
}
.waymark-map-container.waymark-is-editor ul.waymark-info li.waymark-info-description {
  margin-bottom: 8px;
  overflow: hidden;
  border: 1px solid #d2d2d2;
}
.waymark-map-container.waymark-is-editor ul.waymark-info li.waymark-info-description textarea {
  height: 105px;
}
.waymark-map-container.waymark-is-editor ul.waymark-info li.waymark-info-type.waymark-marker-type,
.waymark-map-container.waymark-is-editor ul.waymark-info li.waymark-info-type.waymark-line-type,
.waymark-map-container.waymark-is-editor ul.waymark-info li.waymark-info-type.waymark-shape-type {
  display: none;
}
.waymark-map-container.waymark-is-editor ul.waymark-info li.waymark-marker-info-latlng {
  text-align: right;
}
.waymark-map-container.waymark-is-editor ul.waymark-info li.waymark-info-image_large_url {
  position: relative;
}
.waymark-map-container.waymark-is-editor ul.waymark-info li.waymark-info-image_large_url a {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  border: 1px solid #d2d2d2;
  background-color: #f9f9f9;
  border-radius: 4px;
}
.waymark-map-container.waymark-is-editor ul.waymark-info li.waymark-info-image_large_url a.waymark-hover {
  left: -2px;
  width: 240px;
  height: 240px;
  z-index: 1000;
}
.waymark-map-container.waymark-is-editor ul.waymark-info li.waymark-info-image_large_url a.waymark-hover img {
  width: inherit;
  height: inherit;
}
.waymark-map-container.waymark-is-editor ul.waymark-info li.waymark-info-image_large_url a img {
  width: inherit;
  height: inherit;
  border: none;
}
.waymark-map-container.waymark-is-editor ul.waymark-info li.waymark-info-image_large_url input,
.waymark-map-container.waymark-is-editor ul.waymark-info li.waymark-info-image_large_url .button {
  display: inline-block;
  margin-left: 65px;
}
.waymark-map-container.waymark-is-editor ul.waymark-info li.waymark-info-image_large_url input {
  border-radius: 4px;
  padding: 5px;
  margin-bottom: 6px;
  max-width: 167px;
}
.waymark-map-container.waymark-is-editor ul.waymark-info li.waymark-info-button {
  position: absolute;
  bottom: 0;
  left: 70px;
}
.waymark-map-container.waymark-is-editor ul.waymark-info li.waymark-info-button.waymark-info-duplicate {
  left: 101px;
}
.waymark-map-container.waymark-is-editor ul.waymark-info li.waymark-info-button.waymark-info-edit {
  left: 130px;
}
.waymark-map-container.waymark-is-editor ul.waymark-info li.waymark-info-button button {
  padding: 0 8px;
  max-height: 30px;
}
.waymark-map-container.waymark-is-editor ul.waymark-info li.waymark-info-button button i {
  margin-top: 5px;
  line-height: initial;
}
.waymark-map-container.waymark-is-editor ul.waymark-info li.waymark-info-button button i.ion-android-done,
.waymark-map-container.waymark-is-editor ul.waymark-info li.waymark-info-button button i.ion-edit,
.waymark-map-container.waymark-is-editor ul.waymark-info li.waymark-info-button button i.ion-ios-copy,
.waymark-map-container.waymark-is-editor ul.waymark-info li.waymark-info-button button i.ion-trash-a {
  font-size: 16px;
}
.waymark-map-container.waymark-is-editor ul.waymark-info li select,
.waymark-map-container.waymark-is-editor ul.waymark-info li textarea,
.waymark-map-container.waymark-is-editor ul.waymark-info li input {
  border: 1px solid #d2d2d2;
}
.waymark-map-container.waymark-is-editor ul.waymark-info li.waymark-info-direction {
  position: absolute;
  bottom: 0;
  right: 0;
}
.waymark-map-container.waymark-is-editor ul.waymark-info li.waymark-info-direction select {
  width: 120px;
}
.waymark-map-container.waymark-is-editor ul.waymark-info .waymark-overlay-preview {
  position: absolute;
  top: 0;
  left: -5px;
  margin-bottom: 10px;
  width: 70px;
  max-height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  background: #fff;
  border: 1px solid #d2d2d2;
  border-radius: 4px;
  z-index: 1100;
}
.waymark-map-container.waymark-is-editor ul.waymark-info .waymark-overlay-preview .waymark-overlay-wrap {
  padding: 10px;
  border-bottom: 1px solid #d2d2d2;
  cursor: pointer;
}
.waymark-map-container.waymark-is-editor ul.waymark-info .waymark-overlay-preview .waymark-overlay-wrap:hover,
.waymark-map-container.waymark-is-editor ul.waymark-info .waymark-overlay-preview .waymark-overlay-wrap.waymark-active {
  background: #f1f1f1;
}
.waymark-map-container.waymark-is-editor ul.waymark-info .waymark-overlay-preview .waymark-overlay-wrap .waymark-type-title {
  margin-top: -10px;
  margin-bottom: 3px;
  text-align: center;
  font-size: 10px;
  word-break: break-all;
}
.waymark-map-container.waymark-is-editor ul.waymark-info .waymark-overlay-preview .waymark-overlay-wrap .waymark-type-title {
  margin-top: -10px;
  margin-bottom: 3px;
  text-align: center;
  font-size: 10px;
  word-break: break-all;
}
.waymark-map-container.waymark-is-editor ul.waymark-info .waymark-overlay-preview .waymark-overlay-wrap.waymark-marker-wrap .waymark-marker {
  position: relative;
  cursor: pointer;
}
.waymark-map-container.waymark-is-editor.waymark-disable-draw .waymark-edit-line,
.waymark-map-container.waymark-is-editor.waymark-disable-draw .waymark-edit-rectangle,
.waymark-map-container.waymark-is-editor.waymark-disable-draw .waymark-edit-polygon,
.waymark-map-container.waymark-is-editor.waymark-disable-draw .waymark-edit-circle,
.waymark-map-container.waymark-is-editor.waymark-disable-draw .waymark-edit-marker {
  display: none !important;
}
.waymark-map-container.waymark-is-editor.waymark-disable-photo .waymark-edit-image,
.waymark-map-container.waymark-is-editor.waymark-disable-photo button#add_photo {
  display: none !important;
}
.waymark-map-container.waymark-is-editor.waymark-disable-file .waymark-edit-upload {
  display: none !important;
}
.waymark-map-container.waymark-submission .leaflet-popup-content {
  width: 300px !important;
}
.waymark-map-container.waymark-submission .leaflet-popup-content ul.waymark-info {
  margin: 0 !important;
  padding-left: 70px;
}
.waymark-map-container.waymark-submission .leaflet-popup-content ul.waymark-info .waymark-info-title input {
  padding: 5px;
  width: 220px !important;
  border-radius: 4px;
}
.waymark-map-container.waymark-submission .leaflet-popup-content ul.waymark-info .waymark-info-image_large_url {
  height: 60px;
}
.waymark-map-container.waymark-submission .leaflet-popup-content ul.waymark-info .waymark-info-image_large_url input {
  padding: 5px;
  width: 155px !important;
  border-radius: 4px;
}
.waymark-map-container.waymark-submission .leaflet-popup-content ul.waymark-info .waymark-info-image_large_url .button {
  min-width: 85px;
  padding: 3px 5px;
  font-size: 11px;
}
.waymark-map-container.waymark-submission .leaflet-popup-content ul.waymark-info .waymark-info-description {
  width: 230px;
}
