/**
 * ====================================
 * ============= UTILITY ==============
 * ====================================
 */
.waymark-self-clear:after {
  content: "";
  display: table;
  clear: both;
}
.waymark-code {
  display: inline-block;
  margin: 0 3px;
  padding: 3px;
  font-size: 90%;
  color: #999;
  border: 1px solid #ddd;
  background: #f7f7f7;
}
/**
 * ====================================
 * ============= TOOLTIPS =============
 * ====================================
 */
a.waymark-tooltip {
  display: inline-block;
  padding: 1px 5px;
  float: right;
  font-size: 13px !important;
  line-height: 16px;
  margin-top: 5px;
  margin-right: 0.5%;
  text-decoration: none !important;
  cursor: help !important;
  background: #F9F9F9;
  color: #444 !important;
  border: 1px solid #DDDDDD;
  border-radius: 50%;
}
a.waymark-tooltip.waymark-link {
  cursor: pointer !important;
}
p#waymark-tooltip-active {
  position: absolute;
  z-index: 10000000000;
  width: 200px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  padding: 10px;
  color: #333;
  font-size: 13px;
  border: 1px solid #999;
}
/**
 * ====================================
 * ============ PARAMETERS ============
 * ====================================
 */
div.waymark-accordion-container {
  padding-top: 2%;
  padding-bottom: 2%;
}
div.waymark-accordion-container .waymark-accordion-group {
  width: 100%;
  margin: 0 ;
  margin-bottom: 10px;
}
div.waymark-accordion-container .waymark-accordion-group.waymark-first {
  margin-top: 15px;
}
div.waymark-accordion-container .waymark-accordion-group legend {
  display: block;
  padding: 10px;
  width: -webkit-fill-available;
  font-weight: bold;
  font-size: 1.2em;
  border: 1px solid #DDDDDD;
  background: #f1f1f1;
  border-radius: 5px;
  cursor: pointer;
}
div.waymark-accordion-container .waymark-accordion-group legend span {
  float: right;
  opacity: 0.7;
}
div.waymark-accordion-container .waymark-accordion-group .waymark-accordion-group-content {
  padding: 0 10px;
}
div.waymark-accordion-container .waymark-accordion-group .waymark-parameter-group-description {
  margin: 5px 0 15px 0;
  font-size: 1.15em;
}

/**
 * ====================================
 * ============= SHORTCODE ============
 * ====================================
 */
.waymark-shortcode {
  overflow: hidden;
  margin-bottom: 1.5em;
  border: 1px solid #999;
}
.waymark-shortcode .waymark-header {
  position: relative;
  padding: 10px;
  background: #f7f7f7;
  border-bottom: 1px solid #ccc;
}
.waymark-shortcode .waymark-header .ion {
  margin-left: 3px;
  font-size: 18px;
}
.waymark-shortcode .waymark-header .waymark-title {
  font-weight: bold;
}
.waymark-shortcode .waymark-header .waymark-link {
  float: right;
}
.waymark-shortcode .waymark-header .waymark-meta {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 320px;
  max-width: 80%;
  z-index: 1;
  background: rgba(255, 255, 255, 0.95);
  border-left: 1px solid #ccc;
  padding: 15px 10px;
  overflow: auto;
}
.waymark-shortcode .waymark-header .waymark-meta .waymark-link {
  position: absolute;
  top: 10px;
  right: 10px;
}
.waymark-shortcode .waymark-header .waymark-meta .waymark-meta-close {
  position: absolute;
  top: 15px;
  left: 10px;
  cursor: pointer;
}
.waymark-shortcode .waymark-header .waymark-meta .waymark-map-meta {
  padding-top: 20px;
}
.waymark-shortcode .waymark-header .waymark-meta .waymark-map-meta legend {
  font-size: 1.1em;
}
/**
 * ====================================
 * ============== MESSAGES ============
 * ====================================
 */
.waymark-message {
  margin-bottom: 15px;
  padding: 10px 15px;
  border-width: 1px;
  border-style: solid;
}
.waymark-message.waymark-success {
  color: green;
  border-color: green;
}
.waymark-message.waymark-error {
  color: red;
  border-color: red;
}
/**
 * ====================================
 * ============= THUMBNAIL ============
 * ====================================
 */
/**
 * ====================================
 * =============== META ===============
 * ====================================
 */
.waymark-map-meta {
  font-size: 0.85em;
}
.waymark-map-meta .waymark-map-meta-ungrouped {
  margin-bottom: 15px;
}
.waymark-map-meta .waymark-meta-item {
  padding: 15px;
  border-bottom: 1px solid #ddd;
}
.waymark-map-meta .waymark-meta-item:last-child {
  border-bottom: 0;
}
.waymark-map-meta .waymark-meta-item:nth-child(even) {
  background-color: #fafafa;
}
.waymark-map-meta .waymark-meta-item .waymark-meta-title {
  margin-bottom: 5px;
  font-weight: bold;
}
.waymark-map-meta .waymark-meta-item .waymark-meta-content {
  font-weight: normal;
}
.waymark-map-meta .waymark-meta-item .waymark-meta-info {
  float: right;
}
.waymark-map-meta .waymark-meta-item.waymark-meta-map_thumbnail {
  padding: 0;
}
.waymark-map-meta .waymark-meta-item.waymark-meta-map_thumbnail .waymark-map-thumbnail {
  max-width: 100%;
  height: unset;
}
/* Phone */
@media only screen and (min-width: 768px) {
  .single-waymark_map .waymark-map-meta .waymark-meta-item {
    padding: 15px;
    border-bottom: none;
  }
  .single-waymark_map .waymark-map-meta .waymark-meta-item.waymark-meta-map_thumbnail {
    width: 50%;
    float: right;
  }
  .single-waymark_map .waymark-map-meta.waymark-meta-count-1 .waymark-meta-map_thumbnail {
    width: 100% !important;
    float: unset !important;
  }
}
.waymark-info-description .waymark-description-link {
  padding-top: 10px;
  margin-top: 10px;
  border-top: 1px solid #999;
}
