/**
 * ====================================
 * ============= UTILITY ==============
 * ====================================
 */
.waymark-self-clear:after {
  content: "";
  display: table;
  clear: both;
}
.waymark-code {
  display: inline-block;
  margin: 0 3px;
  padding: 3px;
  font-size: 90%;
  color: #999;
  border: 1px solid #ddd;
  background: #f7f7f7;
}
/**
 * ====================================
 * ============= TOOLTIPS =============
 * ====================================
 */
a.waymark-tooltip {
  display: inline-block;
  padding: 1px 5px;
  float: right;
  font-size: 13px !important;
  line-height: 16px;
  margin-top: 5px;
  margin-right: 0.5%;
  text-decoration: none !important;
  cursor: help !important;
  background: #F9F9F9;
  color: #444 !important;
  border: 1px solid #DDDDDD;
  border-radius: 50%;
}
a.waymark-tooltip.waymark-link {
  cursor: pointer !important;
}
p#waymark-tooltip-active {
  position: absolute;
  z-index: 10000000000;
  width: 200px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  padding: 10px;
  color: #333;
  font-size: 13px;
  border: 1px solid #999;
}
/**
 * ====================================
 * ============ PARAMETERS ============
 * ====================================
 */
div.waymark-accordion-container {
  padding-top: 2%;
  padding-bottom: 2%;
}
div.waymark-accordion-container .waymark-accordion-group {
  width: 100%;
  margin: 0 ;
  margin-bottom: 10px;
}
div.waymark-accordion-container .waymark-accordion-group.waymark-first {
  margin-top: 15px;
}
div.waymark-accordion-container .waymark-accordion-group legend {
  display: block;
  padding: 10px;
  width: -webkit-fill-available;
  font-weight: bold;
  font-size: 1.2em;
  border: 1px solid #DDDDDD;
  background: #f1f1f1;
  border-radius: 5px;
  cursor: pointer;
}
div.waymark-accordion-container .waymark-accordion-group legend span {
  float: right;
  opacity: 0.7;
}
div.waymark-accordion-container .waymark-accordion-group .waymark-accordion-group-content {
  padding: 0 10px;
}
div.waymark-accordion-container .waymark-accordion-group .waymark-parameter-group-description {
  margin: 5px 0 15px 0;
  font-size: 1.15em;
}
