.waymark-shortcode {
  margin-bottom: 1.5em;
  border: 1px solid #999;
}
.waymark-shortcode .waymark-header {
  padding: 10px;
  background: #f7f7f7;
  border-bottom: 1px solid #ccc;
}
.waymark-shortcode .waymark-header .waymark-title {
  font-weight: bold;
}
.waymark-shortcode .waymark-header .waymark-link {
  float: right;
}
.waymark-meta-table th {
  width: 33%;
}
.waymark-info-description .waymark-description-link {
  padding-top: 10px;
  margin-top: 10px;
  border-top: 1px solid #999;
}
